import(methods)
import(utils)
import(Rsamtools)
import(GenomicRanges)
import(IRanges)
import(data.table)

importFrom(rtracklayer, export)
importFrom(BSgenome, available.genomes)
importFrom(beanplot, beanplot)

importFrom(som, som)
importFrom(VGAM, zeta)

exportClasses(CAGEset)
exportMethods(mergeCAGEsets)
exportMethods(coerce)
exportMethods(getCTSS, importPublicData)
exportMethods(aggregateTagClusters)
exportMethods(clusterCTSS)
exportMethods(cumulativeCTSSdistribution)
exportMethods(setColors)
exportMethods(plotReverseCumulatives, exportCTSStoBedGraph, plotInterquantileWidth, plotExpressionProfiles, exportToBed)
exportMethods(plotCorrelation)
exportMethods(getExpressionProfiles, extractExpressionClass)
exportMethods(show)
exportMethods(mergeSamples)
exportMethods(normalizeTagCount)
exportMethods(quantilePositions)
exportMethods(scoreShift, getShiftingPromoters)

export(genomeName, inputFiles, inputFilesType, sampleLabels, librarySizes, CTSScoordinates, CTSStagCount, CTSSnormalizedTpm, CTSSclusteringMethod, tagClusters, consensusClusters, consensusClustersTpm, expressionClasses)